src/fetchers/tech_news_fetcher.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "838b71c9-9b6e-4a7a-a65d-2843b269e981",
      "name": "Get Articles Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -880,
        -176
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8c00469-890b-4b5b-8e2e-2ad9ec2d0815",
              "name": "rss",
              "type": "array",
              "value": "=[\n  \"https://www.engadget.com/rss.xml\",\n  \"https://feeds.arstechnica.com/arstechnica/index\",\n  \"https://www.theverge.com/rss/index.xml\",\n  \"https://www.wired.com/feed/rss\",\n  \"https://www.technologyreview.com/topnews.rss\",\n  \"https://techcrunch.com/feed/\"\n]\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f2622f28-bc30-4979-806a-3b1bec4d10df",
      "name": "Set Tech News RSS Feeds",
      "type": "n8n-nodes-base.set",
      "position": [
        -656,
        -176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.rss }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "2688ccf1-cafe-4a29-8a02-8a5edbc595d2",
      "name": "Read RSS News Feeds",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -224,
        -176
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss",
        "options": {}
      },
      "id": "27a2a4fb-3be0-4966-92e3-b1f0d8d1c5b5",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -432,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a749bdb1-4488-4f54-bb26-cc026691b312",
              "name": "Creator",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "0d7b0030-3dce-426b-8386-4aeede678810",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "86da8b96-f847-4e78-9d0a-8c178b2073fe",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "3dea7182-deb0-4d46-a9be-06a15990e14c",
              "name": "Date",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "013ca4be-a530-4623-9969-926021eca855",
              "name": "Content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -192
      ],
      "id": "4bc03905-cd50-4999-a228-570a441bcfdd",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ce0c30b-6967-4190-a85b-8c6700cd2324",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ new Date(new Date().setHours(6,0,0,0) - 24 * 60 * 60 * 1000).toUTCString() }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        -176
      ],
      "id": "fe8c15bb-3e96-4abd-b27f-6c8b061ac939",
      "name": "If2"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        384,
        -192
      ],
      "id": "ebd90ead-126e-4864-9ee3-5b286a6e2939",
      "name": "Limit1"
    }
  ],
  "connections": {
    "Get Articles Daily": {
      "main": [
        [
          {
            "node": "Set Tech News RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tech News RSS Feeds": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read RSS News Feeds": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Read RSS News Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17e32a252a2a6e7730cfce5e5cc930969e2fb59d69180c6f036cdff498d50e7e"
  }
}